@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-size: 15px;
    background: url(./images/bg-pattern-top-mobile.svg),
        url(./images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.grid-container {
    margin: 80px 20px;
    display: grid;
    gap: 40px;
}

.profile-image img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.intro h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.review p {
    color: var(--Very-Dark-Magenta);
    font-weight: 700;

}

.intro p {
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
    line-height: 18px;
}

.intro {
    text-align: center;
}

.review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--Light-Grayish-Magenta);

}

.star-images {
    margin-left: 20px;
}

.reviews {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}

.testimony {
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 20px;
}

.testimony .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-info .name {
    font-size: 15px;
    color: var(--White);
    font-weight: 700;
    line-height: 1.5;
}

.profile-info .position {
    color: var(--Soft-Pink);
    font-weight: 400;
}

.testimony>p {
    margin-top: 20px;
    font-size: 15px;
    color: var(--White);
    font-weight: 500;
    line-height: 1;
}

@media(min-width:700px) {
    body {
        background: url(./images/bg-pattern-top-desktop.svg),
            url(./images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
        background-size: 50%;
        background-repeat: no-repeat;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 45px 10px;
    }

    .testimony {
        margin-top: 0;
        width: 348px;
    }

    .testimonials {
        display: flex;
        grid-column: 1/3;
        gap: 32px;

    }

    .review {
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        max-width: 446px;

    }

    .intro h1 {
        font-size: 48px;
    }

    .intro {
        text-align: start;
    }

    .review:nth-child(1) {
        align-self: flex-start;
    }

    .review:nth-child(2) {
        align-self: center;
    }

    .review:nth-child(3) {
        align-self: flex-end;
    }

    .testimony:nth-child(2) {

        transform: translateY(16px);
    }

    .testimony:nth-child(3) {

        transform: translateY(32px);
    }


}